* {
  box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 40px;
}

.reveal .CodeMirror pre {
  box-shadow: none;
}

.CodeMirror {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 15%);
  font-size: var(--code-font-size);
  height: unset;
  border-radius: 20px;
}

.CodeMirror-lines {
  padding: 8px 0;
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 8px;
}

.CodeMirror-cursor {
  border-left-width: 2px;
  border-right: none;
  width: 0;
}

.CodeMirror .CodeMirror-scroll {
  height: auto !important;
  overflow: visible !important;
}

.file-container.output .CodeMirror.cm-s-error {
  box-shadow: none;
  background: transparent;
  word-break: break-word;
}

.file-container.output .CodeMirror.cm-s-error .CodeMirror-line {
  padding: 0;
}

.sub-heading {
  font-size: 40px;
}

.white-box.slide-url {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: opacity 0.6s ease;
  opacity: 0;
  font-size: 60px;
}

.name-box {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: 80px auto 0;
}

.quote-box {
  margin: auto;
  width: max-content;
  font-style: italic;
}

.white-box {
  padding: 20px 40px;
  border-radius: 40px;
  color: black;
  background-color: white;
  box-shadow: var(--heading1-text-shadow);
}

.lifecycle-grid {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: 30px;
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  margin-top: 80px;
}

.key-value-table {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 20px;
}

.rows-plugin {
  grid-row: 1/5;
}

.row-resolveid {
  grid-row: 2/3;
}

.row-load {
  grid-row: 3/4;
}

.row-transform {
  grid-row: 4/5;
}

.column-hooks {
  grid-column: 1/2;
  position: relative;
}

.column-plugina {
  grid-column: 2/3;
}

.column-pluginb {
  grid-column: 3/4;
}

.column-core {
  grid-column: 4/5;
}

.plugin-code {
  margin: 0 40px;
  position: relative;
}

.small-code-block {
  font-size: 40px;
  display: block;
}

.left-align-box {
  text-align: left;
  display: inline-block;
}

.full-width {
  width: 100%;
}

@media (min-aspect-ratio: 8/5) {
  .left-align-box.full-width {
    margin-left: -200px;
    width: calc(100% + 400px);
  }
}

.solution-button {
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}

.file-container > label {
  line-height: 80px;
  display: block;
  padding-top: 40px;
}

.file-container:first-child > label {
  padding-top: 0;
}

.file-container.output .CodeMirror {
  box-shadow: 0 10px 30px var(--highlight-color);
}

.file-container.output > label {
  color: var(--highlight-color);
  font-weight: bold;
}

.two-columns {
  display: grid;
  grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  gap: 40px;
  text-align: left;
  font-size: var(--code-font-size);
}

.reveal .slides section .highlight-current-code {
  opacity: 1;
  visibility: inherit;
  position: relative;
  display: inline-block;
}

.highlight-current-code.current-fragment {
  color: white;
  background-color: var(--highlight-color);
  border-radius: 16px;
  padding: 4px 16px;
  margin: -4px -16px;
}

.highlight-box {
  position: absolute;
  top: 80px;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, 0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  font-family: var(--main-font);
  font-size: 60px;
  font-style: italic;
}

.highlight-box.align-right {
  left: unset;
  right: 0;
  transform: unset;
}

.highlight-current-code.current-fragment > .highlight-box {
  visibility: visible;
  opacity: 1;
}

.white-box ul {
  padding-left: 80px;
}

.white-box ul > li::before {
  left: -80px;
}

.white-box ul > li {
  margin-bottom: 20px;
}

.white-box ul > li:last-child {
  margin-bottom: 0;
}

.stderr {
  color: var(--highlight-color);
}

.terminal-page-code {
  background-color: white;
  border-radius: 20px;
}

.terminal-page-wrapper {
  border-radius: 20px;
}

.terminal-input {
  font-weight: bold;
}

.terminal-error {
  font-weight: bold;
  color: var(--highlight-color);
}

/* selfdraw */
@keyframes selfdraw {
  from {
    stroke-dashoffset: 104px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

section.future .section-selfdraw {
  animation: none;
}

.fragment-selfdraw {
  stroke-dasharray: 103px;
  stroke-dashoffset: 104px;
}

.section-selfdraw,
.fragment.visible.fragment-selfdraw {
  stroke-dasharray: 103px;
  animation: selfdraw 0.5s linear both;
}

.arrow-line {
  stroke: var(--highlight-color);
  fill: transparent;
  stroke-width: 8px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* appear */
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

section.future .section-appear {
  animation: none;
}

.appear {
  opacity: 0;
  animation: none;
}

.section-appear,
.fragment.visible .appear,
.appear.fragment.visible {
  animation: appear 1s ease both;
}

.first {
  animation-delay: 0.4s !important;
}

.second {
  animation-delay: 0.6s !important;
}

.third {
  animation-delay: 0.8s !important;
}

.fourth {
  animation-delay: 1s !important;
}

/* zoom-out */
@keyframes zoom-out {
  to {
    transform: scale(0, 0);
    opacity: 0;
  }
}

.zoom-out {
  transform-origin: top;
  animation: 0.5s both zoom-out;
}

/* zoom-in */
@keyframes zoom-in {
  to {
    transform: scale(0, 0);
    opacity: 0;
  }
}

.zoom-in {
  transform-origin: bottom;
  animation: 0.5s both reverse zoom-in;
}
