.DS_Store
apollo-demo/node_modules/*

!node_modules/

node_modules/*
!node_modules/reveal.js/
!node_modules/codemirror/

node_modules/reveal.js/*
!node_modules/reveal.js/dist/
!node_modules/reveal.js/plugin/

node_modules/reveal.js/dist/*
!node_modules/reveal.js/dist/reveal.js
!node_modules/reveal.js/dist/reveal.js.map
!node_modules/reveal.js/dist/reveal.css
!node_modules/reveal.js/dist/theme/

node_modules/reveal.js/dist/theme/*
!node_modules/reveal.js/dist/theme/fonts/

node_modules/reveal.js/dist/theme/fonts/*
!node_modules/reveal.js/dist/theme/fonts/league-gothic/

node_modules/reveal.js/plugin/*
!node_modules/reveal.js/plugin/notes/
!node_modules/reveal.js/plugin/highlight/

node_modules/reveal.js/plugin/notes/*
!node_modules/reveal.js/plugin/notes/notes.js

node_modules/reveal.js/plugin/highlight/*
!node_modules/reveal.js/plugin/highlight/highlight.js
!node_modules/reveal.js/plugin/highlight/zenburn.css

node_modules/codemirror/*
!node_modules/codemirror/lib/
!node_modules/codemirror/mode/

node_modules/codemirror/lib/*
!node_modules/codemirror/lib/codemirror.js
!node_modules/codemirror/lib/codemirror.css

node_modules/codemirror/mode/*
!node_modules/codemirror/mode/javascript/

node_modules/codemirror/mode/javascript/*
!node_modules/codemirror/mode/javascript/javascript.js

